<div class="new-post">
  <div class="portrait">
    <img
      [src]="assetsPath + 'Lewis-Hamilton' + '.jpg'"
      alt="User profile picture"
      [routerLink]="['/lewishamilton']"
    />
  </div>
  <mat-form-field appearance="standard" class="new-post__textarea">
    <textarea
      #postInput
      matInput
      placeholder="What's on your mind?"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="15"
      maxlength="777"
      [formControl]="formTextarea"
      [matTooltip]="
        postInput.value.length === 777
          ? 'You have reached the maximum post length'
          : ''
      "
    ></textarea>
    <hr />
  </mat-form-field>
</div>
<div class="col post-submit">
  <span class="post-submit__toggle-feed"
    >All<mat-slide-toggle color="primary"></mat-slide-toggle>Following</span
  >
  <span class="post-submit__max-posts" *ngIf="userDailyPosts < 5">
    You've posted {{ userDailyPosts }} times today (max: 5).</span
  >
  <span class="post-submit__max-posts" *ngIf="userDailyPosts === 5">
    You've reached your daily post limit.</span
  >
  <span>
    {{ postInput.value.length || 0 }}/777
    <button
      class="post-submit__btn"
      s
      mat-flat-button
      color="primary"
      (click)="onSubmit(postInput.value)"
      [disabled]="postInput.value.length < 1 || userDailyPosts >= 5"
      [matTooltip]="
        userDailyPosts > 5 ? 'You have reached your daily post limit' : ''
      "
    >
      Publish
    </button>
  </span>
</div>
<hr />
