.user {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__portrait {
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: 1.5rem;
    }
  }

  &__data {
    display: flex;
    flex-direction: row;
    &--name {
      font-size: 1rem;
      font-weight: bold;
      margin-right: 1rem;
    }
    &--nickname {
      font-size: 0.8rem;
      color: #8c8c8c;
    }
    &--post-date {
      margin-left: 0.5rem;
      font-size: 0.8rem;
      color: #8c8c8c;

    }
  }

  &__message {
    font-size: 0.85rem;
    color: black;
    margin-top: 0.5rem;
  }
}

.message-card {
  border-bottom: #dddddd 1px solid;
  padding: 1rem;
  background-color: #fff;
}
