.profile {
  display: flex;
  flex-direction: column;

  width: 60vw;
  height: 70vh;

  &__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &--username {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.2rem;
    }
    &--nickname {
      font-size: 1rem;
      font-weight: normal;
      color: #8c8c8c;
    }

    &--join-date {
      font-size: 0.8rem;
      color: #8c8c8c;
    }

    mat-icon {
      position: relative;
      top: 6px;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 50%;

    &--number {
      margin-inline: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
    }
    &--text {
      font-size: 1rem;
      color: #333;
    }
  }
}
